* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;

  transition: all 0.5s;

  --background-color-invisible: #0f0f2d00;
  --background-color: #0f0f2d;
  --font-color: #fff;
  --outline: #438d98;
  --alt-outline: #52acb9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

h1,
h2,
h3,
p,
div,
button,
input,
label,
span,
::after {
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

h1 {
  letter-spacing: 0.1rem;
}
h2 {
  letter-spacing: 0.05rem;
}

p,
div,
label,
span,
input,
button {
  font-size: 0.7rem;
}
h3 {
  font-size: 0.8rem;
  margin: 0.4rem 0;
}
h1 {
  font-size: 1.1rem;
  margin: 1rem 0;
}
h2 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

body {
  display: grid;
  justify-items: center;
  background-color: var(--background-color);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1;
}

.dosage-type::before {
  display: block;
  text-align: center;
}

.micro::before {
  content: "Micro";
}

.low::before {
  content: "Low";
}

.medium::before {
  content: "Medium";
}

.strong::before {
  content: "Strong";
}

.heroic::before {
  content: "Heroic";
}

.dosage-type {
  position: relative;
  text-align: center;
}

.dosage-title {
  text-align: center;
  margin-top: 1rem;
}
.dosage-guide {
  display: flex;
  justify-content: space-around;
  height: 6rem;
  position: relative;
  align-items: center;
}
.dosage-guide > div {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 5rem;
  position: relative;
}

.dosage-guide img {
  height: 50%;
}
.guide-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  width: 89%;
  padding: 0 1% 1rem 1%;
  border-radius: 1rem;
  max-width: 40rem;
}

.guide {
  display: flex;
  flex-direction: column;
}

.bag-content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem 1rem 1rem;
}

.bag-content-amount {
  height: 4rem;
  width: 4rem;
  background: #0f0f2d;
  background: radial-gradient(
    circle,
    var(--background-color) 50%,
    var(--outline) 100%
  );
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-weight: bold;
}

.lemon-tek,
.trip-timer {
  margin-top: 1rem;
}
.lemon-tek-title,
.trip-timer-title {
  margin-bottom: 1rem;
}
.about-title,
.lemon-tek-title,
.trip-timer-title {
  text-align: center;
}

.about-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-info div {
  margin: 0 0.5rem;
}
.about-image {
  height: 5rem;
  margin-left: 1rem;
}

.steps {
  display: flex;
}

.steps > img {
  width: 6rem;
}
.steps > img,
.steps > div {
  margin: 0 0.5rem;
}

.steps,
.about,
.trip-timer,
.trip-timer button,
.trip-timer-overlay,
.trip-timer-container,
.trip-timer-content-title,
.shroomsupply,
.shroomsupply-link,
.shroomsupply-coupon {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background: linear-gradient(
    10deg,
    var(--outline) -100%,
    var(--background-color) 100%
  );
  border: 1px solid var(--outline);
  -webkit-box-shadow: 0 0 0.3rem 0 var(--outline);
  -moz-box-shadow: 0 0 0.3rem 0 var(--outline);
  box-shadow: 0 0 0.3rem 0 var(--outline);
}

.shroomsupply {
  display: grid;
  justify-items: center;
  margin: 3rem 0 1rem 0;
  text-align: center;
  padding: 1rem 0;
}

.shroomsupply h2,
.shroomsupply p {
  margin: 0.2rem 1rem;
}

.shroomsupply-link,
.shroomsupply-coupon {
  display: block;
  color: var(--background-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    10deg,
    var(--outline) 0%,
    var(--background-color) 200%
  );
  text-decoration: none;
}

.copy-button {
  position: relative;
}

.shroomsupply-coupon-feedback {
  margin: 0 !important;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: var(--background-color);
  font-weight: bold;
}

.trip-timer-overlay {
  z-index: 100;
}
