* {
  padding: 0;
  margin: 0;

  --background-color: #0f0f2d;
  --font-color: #fff;
  --gold-color: goldenrod;
  --outline: #438d98;
}

h1,
h2,
h3,
p,
div,
::after {
  font-family: "Inter", sans-serif;
  color: var(--font-color);
}

h1 {
  letter-spacing: 0.2rem;
}
h2 {
  letter-spacing: 0.1rem;
}

p,
div {
  font-size: 0.7rem;
}
h3 {
  font-size: 0.8rem;
  margin: 0.4rem 0;
}
h1 {
  font-size: 1.1rem;
  margin: 1rem 0;
}
h2 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

body {
  display: grid;
  justify-items: center;
  background-color: var(--background-color);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  /* background-image: url("img/background-2816x1536.png");
  background-size: cover;
  background-position: center; */
  background-repeat: no-repeat;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1;
}

.dosage-type::before {
  display: block;
  text-align: center;
}

.micro::before {
  content: "Micro";
}

.low::before {
  content: "Low";
}

.medium::before {
  content: "Medium";
}

.strong::before {
  content: "Strong";
}

.heroic::before {
  content: "Heroic";
}

.dosage-type {
  position: relative;
  text-align: center;
}

.dosage-title {
  text-align: center;
  margin-top: 1rem;
}
.dosage-guide {
  display: flex;
  justify-content: space-around;
  height: 6rem;
  position: relative;
  align-items: center;
}
.dosage-guide > div {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 5rem;
  position: relative;
}

.dosage-guide img {
  height: 50%;
}
.guide-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  width: 89%;
  padding: 0 1% 1rem 1%;
  border-radius: 1rem;
  max-width: 40rem;
}

.guide {
  display: flex;
  flex-direction: column;
}

.bag-content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem 1rem 1rem;
}

.bag-content-amount {
  height: 4rem;
  width: 4rem;
  background: #0f0f2d;
  background: radial-gradient(
    circle,
    var(--background-color) 50%,
    var(--outline) 100%
  );
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-weight: bold;
}

.lemon-tek,
.trip-timer {
  margin-top: 1rem;
}
.lemon-tek-title,
.trip-timer-title {
  margin-bottom: 1rem;
}
.about-title,
.lemon-tek-title,
.trip-timer-title {
  text-align: center;
}

.about-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.about-info div {
  margin: 0 0.5rem;
}
.about-image {
  height: 5rem;
  margin-left: 1rem;
}

.steps
 /*,section */ {
  /*border: 1px solid var(--outline);
  -webkit-box-shadow: 0 0 0.3rem 0 var(--outline);
  -moz-box-shadow: 0 0 0.3rem 0 var(--outline);
  box-shadow: 0 0 0.3rem 0 var(--outline); */
  display: flex;
}

.steps > img {
  width: 6rem;
}
.steps > img,
.steps > div {
  margin: 0 0.5rem;
}

.steps,
.about,
.trip-timer {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background: #438d98;
  background: linear-gradient(
    10deg,
    var(--outline) -100%,
    var(--background-color) 100%
  );
  border: 1px solid var(--outline);
  -webkit-box-shadow: 0 0 0.3rem 0 var(--outline);
  -moz-box-shadow: 0 0 0.3rem 0 var(--outline);
  box-shadow: 0 0 0.3rem 0 var(--outline);
}
